fastapi==0.79.0
uvicorn==0.17.6
sqlalchemy==1.4.39
pydantic==1.10.0
mysql-connector-python==8.0.26
python-dotenv==0.19.2
pytest==7.1.2
pytest-asyncio==0.18.3
sqlalchemy_utils==0.38.3
jinja2==3.1.2
itsdangerous