<!DOCTYPE html>
<html>
<head>
    <title>Fallo en el Acertijo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="pergamino">
        <h1>¡Fallo en el Acertijo!</h1>
        <p>En el vasto universo de la magia, no existen atajos. Cada intento fallido es una oportunidad para aprender y crecer.</p>
        <p>Recuerda, joven mago, que solo aquellos que muestran perseverancia y una insaciable sed de conocimiento pueden desentrañar los profundos misterios del mundo arcano. No te desanimes ante la adversidad, pues cada error es una valiosa lección en el camino hacia la verdadera grandeza.</p>
        <a href="/riddle" class="boton">Volver a Intentar</a>
    </div>
</body>
</html>
